/* universal styles */
html {
  background-color: white;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background: rgba(254, 251, 234, 1);
  color: rgba(31, 22, 7, 1);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: calc(100% - 3rem);
}

/* header styles */
header {
  position: fixed;
  z-index: 10;
  background: rgba(254, 251, 234, 1);
  padding: 1rem 1.5rem;
}

header h1 {
  display: inline-block;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: rgba(141, 61, 24, 1);
}

header img {
  height: 2rem;
}

nav span {
  padding-left: 1rem;
}

nav.mobile.flex {
  display: none;
}

.logo {
  font-weight: bold;
  color: rgba(1, 87, 105, 1);
}

@media only screen and (max-width: 650px) {
  header h1 {
    display: none;
  }

  nav span {
    padding: 0;
    line-height: 0;
  }

  header div.flex,
  nav.flex {
    display: none;
  }

  nav.mobile.flex {
    display: flex;
    width: 100%;
  }
}

/* main styles */
main {
  padding-top: 4rem;
}

/* banner styles */
.banner {
  padding: 2rem 1.5rem;
  background: rgba(141, 61, 24, 1);
}

.banner img {
  width: 60%;
}

.banner div {
  width: calc(40% - 1.5rem);
}

.banner h1 {
  font-size: 2rem;
  font-weight: bold;
}

.banner p {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.banner a {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  color: rgba(254, 251, 234, 1);
  background: rgba(1, 87, 105, 1);
}

@media only screen and (max-width: 650px) {
  .banner {
    padding: 0;
    flex-direction: column;
  }

  .banner img {
    width: 100%;
  }

  .banner div {
    width: calc(100% - 2rem);
    padding: 2rem 1rem;
  }

  .banner p {
    font-size: 1.25rem;
    margin: 2rem 0 1.5rem 0;
  }
}

/* main information styles */
.information {
  padding: 2rem 0 2rem 1.5rem;
}

.left-column {
  width: 60%;
}

.left-column img {
  width: 100%;
}

.left-column h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0 1.5rem 0;
}

.left-column p.quote {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.right-column {
  width: calc(40% - 1.5rem);
}

.supporting {
  padding: 1rem 0 1rem 1rem;
}

.supporting img {
  width: 35%;
}

.supporting img.mobile {
  display: none;
}

.supporting div {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding-left: 1rem;
}

.supporting h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.supporting p {
  padding: 0.5rem 0;
}

.supporting a {
  color: rgba(141, 61, 24, 1)
}

.supporting a:hover {
  font-weight: bold;
}

.supporting.focus {
  background: rgba(141, 61, 24, 1);
}

.supporting.focus a {
  color: rgba(254, 251, 234, 1);
}

@media only screen and (max-width: 768px) {
  .left-column {
    display: none;
  }

  .right-column {
    width: calc(100% - 2rem);
  }

  .right-column .supporting {
    flex-direction: column;
    align-items: flex-start;
  }

  .supporting {
    padding: 0;
  }

  .supporting img {
    display: none;
  }

  .supporting img.mobile {
    display: block;
    width: 100%;
  }

  .supporting div {
    padding: 2rem 1rem;
  }

  .supporting.focus {
    background: rgba(254, 251, 234, 1);
  }

  .supporting.focus a {
    color: rgba(141, 61, 24, 1);
  }
}

/* footer styles */
